html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #222;
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.7em;
  }
}
